body {
    background: #f5e8ff;
}

.wrapper {
    margin: 100px auto auto;
    font-size: 100px;
    width: 530px;
    height: 530px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #1e7412;
}

.flower-of-life {
    margin: 15px auto 0;
    font-size: 100px;
    width: 500px;
    height: 500px;
    position: absolute;
    overflow: hidden;
    left: 15px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #ffffff;
}

.rect0 {
    transform: rotate(0deg);
}

.rect1 {
    transform: rotate(9deg);
}


.rect2 {
    transform: rotate(18deg);
}

.rect3 {
    transform: rotate(27deg);
}

.rect4 {
    transform: rotate(36deg);
}

.rect5 {
    transform: rotate(45deg);
}

.rect6 {
    transform: rotate(54deg);
}

.rect7 {
    transform: rotate(63deg);
}

.rect8 {
    transform: rotate(72deg);
}

.rect9 {
    transform: rotate(81deg);
}

.rect10 {
    transform: rotate(90deg);
}

.rect-circle1 {
    background: #380a0a;
    width: 480px;
    height: 480px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 20;
    top: 10px;
    left: 10px;
}

.rectangle1 {
    width: 335px;
    height: 335px;
    background: #a21212;
    position: absolute;
    top: 84px;
    left: 84px;
    z-index: 21;
}

.rect11 {
    transform: rotate(0deg);
}

.rect12 {
    transform: rotate(10deg);
}

.rect13 {
    transform: rotate(20deg);
}

.rect14 {
    transform: rotate(30deg);
}

.rect15 {
    transform: rotate(40deg);
}

.rect16 {
    transform: rotate(50deg);
}

.rect17 {
    transform: rotate(60deg);
}

.rect18 {
    transform: rotate(70deg);
}

.rect19 {
    transform: rotate(80deg);
}

.rect-circle2 {
    background: #c3cc48;
    width: 388px;
    height: 388px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #c3cc48;
    position: absolute;
    z-index: 22;
    top: 53px;
    left: 53px;
}

.rectangle2 {
    width: 309px;
    height: 309px;
    background: #d8430a;
    position: absolute;
    top: 98px;
    left: 98px;
    z-index: 23;
}

.rect21 {
    transform: rotate(5deg);
}

.rect22 {
    transform: rotate(15deg);
}

.rect23 {
    transform: rotate(25deg);
}

.rect24 {
    transform: rotate(35deg);
}

.rect25 {
    transform: rotate(45deg);
}

.rect26 {
    transform: rotate(55deg);
}

.rect27 {
    transform: rotate(65deg);
}

.rect28 {
    transform: rotate(75deg);
}

.rect29 {
    transform: rotate(85deg);
}

.rect-circle3 {
    background: #c3cc48;
    width: 328px;
    height: 328px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #c3cc48;
    position: absolute;
    z-index: 24;
    top: 83px;
    left: 83px;
}

.rectangle3 {
    width: 285px;
    height: 285px;
    background: #e4b648;
    position: absolute;
    top: 110px;
    left: 110px;
    z-index: 25;
}

.rect31 {
    transform: rotate(0deg);
}

.rect32 {
    transform: rotate(10deg);
}

.rect33 {
    transform: rotate(20deg);
}

.rect34 {
    transform: rotate(30deg);
}

.rect35 {
    transform: rotate(40deg);
}

.rect36 {
    transform: rotate(50deg);
}

.rect37 {
    transform: rotate(60deg);
}

.rect38 {
    transform: rotate(70deg);
}

.rect39 {
    transform: rotate(80deg);
}

.rectangle4 {
    width: 263px;
    height: 263px;
    background: #edf154;
    position: absolute;
    top: 120px;
    left: 120px;
    z-index: 27;
}

.rectangle5 {
    width: 242px;
    height: 242px;
    background: #ffffff;
    position: absolute;
    top: 131px;
    left: 131px;
    z-index: 29;
}

.rect-circle4 {
    background: #b70606;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #b70606;
    position: absolute;
    z-index: 25;
    top: 130px;
    left: 130px;
}

.circle3 {
    background: #f3ba4e;
    width: 315px;
    height: 315px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 30;
    top: 94px;
    left: 93px;
}

.circle4 {
    background: #e5ef5d9c;
    width: 295px;
    height: 295px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
}

.d1 {
    width: 104px;
    height: 104px;
    background: #ffffff;
    position: absolute;
    top: 38px;
    left: 140px;
}

.d2 {
    width: 52px;
    height: 104px;
    background: #d43737;
    position: absolute;
    top: 38px;
    left: 140px;
}


.diamond1 {
    transform: rotate(0deg);
}

.diamond2 {
    transform: rotate(45deg);
    background: #ca3434;
    left: 170px;
    top: 100px;
}

.diamond3 {
    transform: rotate(90deg);
    top: 152px;
}

.diamond4 {
    transform: rotate(135deg);
    background: #ca3434;
    left: 100px;
    top: 170px;
}

.diamond5 {
    transform: rotate(180deg);
    top: 152px;
    left: 50px;
}

.diamond6 {
    transform: rotate(225deg);
    background: #ca3434;
    top: 85px;
    left: 20px;
}

.diamond7 {
    transform: rotate(270deg);
    top: 38px;
    left: 50px;
}

.d-rect1 {
    transform: rotate(315deg);
    background: #ca3434;
    left: 140px;
    top: 3px;
}

.d-rect2 {
    transform: rotate(315deg);
    background: #ca3434;
    left: 104px;
    top: 39px;
}

.rect-fill-1 {
    background: #ffffff;
    position: absolute;
    width: 50px;
    height: 73px;
}

.rect-fill-2 {
    background: #ca3434;
    width: 38px;
    height: 62px;
    left: 110px;
    top: 37px;
}

.circle5 {
    background: #f9c45f;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 95px;
    left: 95px;
}

.circle6 {
    background: #e3ea76;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 109px;
    left: 109px;
}

.circle7 {
    background: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 125px;
    left: 125px;
}

.text {
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    color: #b70606;
}
